.title {
  width: 40%;
  display: inline-block;
}

h1 {
  padding: 20px;
}

.login {
  width: 60%;
  float: right;
  display: block;
}

.login button {
  float: right;
  text-align: center;
  margin: 50px;
  text-decoration: none;
  width: 110px;
  padding: 5px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 100vh;
}

.login .loginButton {
  background: #fff;
  color: black;
}

.login .logoutButton {
  background: black;
  color: #fff;
}

.main {
  width: 40%;
  float: left;
}

.main li {
  color: #575757;
}

.main .normalButton {
  cursor: pointer;
  border: none;
  background: none;
  text-decoration: underline;
  color: #575757;
  font-weight: bold;
  font-size: medium;
}

.main .normalButton:hover {
  text-decoration: none;
}

.main .activeButton {
  border: none;
  background: none;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: medium;
}

.newButton .normalButton {
  padding: 15px;
  text-decoration: none;
  font-size: large;
}

.newButton .activeButton {
  padding: 15px;
  text-decoration: none;
  font-size: large;
  color: black;
}

.form {
  width: 60%;
  float: right;
  display: block;
}

.form textarea {
  display: block;
  margin: 20px auto;
  width: 70%;
  border: 2px solid gray;
}

.formButton {
  text-align: center;
  margin: 20px auto;
}

.formButton button {
  display: inline-block;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  width: 100px;
  padding: 10px;
  font-weight: bold;
  border: 2px solid black;
  background: black;
  color: #fff;
  border-radius: 100vh;
}

.formButton button:hover {
  color: black;
  background: #fff;
}
